* {
    margin: 0;
}

body {
    background: url('/static/wallpaper-paris.jpg') no-repeat center center fixed;
    background-size: cover;
}

#element {
    background-color: white;
    width: 450px;
    height: 450px;
    opacity: 70%;
    border-radius: 50px;
    margin: auto;
    margin-top: 100px;
    border-top: 50px solid black;
}

#title {
    text-align: center;
    margin: auto;
    font-size: 2.5em;
    padding-top: 25px;
}

.input {
    width: 300px;
    height: 40px;
    font-size: 1.5em;
    margin-top: 40px;
    margin-left: 75px;
    padding-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    border: 0px;
    border-bottom: 1px solid black;
}

input:focus {
    outline: none;
    border-bottom: 2px solid black;
}

.button {
    width: 150px;
    height: 40px;
    font-size: 1.5em;
    margin-top: 50px;
    margin-left: 150px;
    border-radius: 20px;
    border: 0px;
    background-color: black;
    color: white;
    cursor: pointer;
}