<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.html</title>
    <link rel="stylesheet" href="/static/style_index.css">
</head>

<body>
    <div id="element">
        <h3 id="title">Login Page</h3>
        <form class="form" action="/submit" method="post">
            <input class="input" type="text" placeholder="Enter your name" required name="name">
            <input class="input" type="text" placeholder="Enter your email" required name="email">
            <input class="input" type="text" placeholder="Enter your country" required name="country">
            <button class="button" type="submit">Submit</button>
        </form>

    </div>
</body>

</html>